[submodule "detection-rules"]
	path = detection-rules
	url = https://github.com/elastic/detection-rules.git
[submodule "security_content"]
	path = security_content
	url = https://github.com/splunk/security_content.git
[submodule "sigma"]
	path = sigma
	url = https://github.com/SigmaHQ/sigma.git
[submodule "open-xp-rules"]
	path = open-xp-rules
	url = https://github.com/Security-Experts-Community/open-xp-rules.git
[submodule "Hunting-Queries-Detection-Rules"]
	path = Hunting-Queries-Detection-Rules
	url = https://github.com/SlimKQL/Hunting-Queries-Detection-Rules.git
[submodule "Purpleteam"]
	path = Purpleteam
	url = https://github.com/mthcht/Purpleteam.git
[submodule "LOLRMM"]
	path = LOLRMM
	url = https://github.com/magicsword-io/LOLRMM.git
[submodule "iocs"]
	path = iocs
	url = https://github.com/eSentire/iocs.git
[submodule "LotL-Detection-KQL"]
	path = LotL-Detection-KQL
	url = https://github.com/DATCResearch/LotL-Detection-KQL.git
[submodule "FalconFriday"]
	path = FalconFriday
	url = https://github.com/FalconForceTeam/FalconFriday.git
[submodule "AutonomousThreatSweeper"]
	path = AutonomousThreatSweeper
	url = https://github.com/Securonix/AutonomousThreatSweeper.git
[submodule "ThreatHunting-Keywords-yara-rules"]
	path = ThreatHunting-Keywords-yara-rules
	url = https://github.com/mthcht/ThreatHunting-Keywords-yara-rules.git
[submodule "Yara-Standalone-Webshell-Scanner"]
	path = Yara-Standalone-Webshell-Scanner
	url = https://github.com/ekky19/Yara-Standalone-Webshell-Scanner.git
